body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #b91a4a;
}

h1 {
    color: #100e0e;
}

#output {
    margin-top: 20px;
    padding: 15px;
    background: rgb(219, 210, 210);
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
